<div>
    <div>
        <h3><%= instruction.title %></h3> 
    </div>

    <div>Created: <%= moment(instruction.createdAt).fromNow() %></div>
    <!-- created by: -->
    <div>Difficulty: <%= instruction.difficulty %></div>
    <div>Instructions: <%= instruction.content %></div>
    <div>Materials: <%= instruction.materials%></div>
    <!-- Linked post functionality -->
    <!-- <div><h4>Linked posts:</h4> -->
<!-- <% instruction.post.forEach(function(post) { %>
    Make the below a link for each!
    <div> <%= post.title %> </div>
<% }) %> -->

    </div>
</div>