<h1> Edit Instructions </h1>

<form method="POST" action="/instruction/update">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" value=" <%= instruction.title%>"/>
    </div>

    <div class="form-group">
        <label>Difficulty (out of 5)</label>
        <input type="number" name="difficulty" class="form-control" min="1" max="5" value="<%= instruction.difficulty%>"/>
    </div>

    <div class="form-group">
        <label>Instructions</label>
        <textarea name="content" class="form-control"><%= instruction.content%></textarea>
    </div class="form-group">

    <div class="form-group">
        <label>Materials Required</label>
        <!-- can we change the input type to something more list-oriented? 
        And then change datatype in the model to an array of strings? -->
        <input type="text" name="materials" class="form-control"value=" <%= instruction.materials%>"/>
    </div>

    <input type="hidden" name="id" value="<%= instruction._id%>"/>

    <button type="submit" class="btn btn-primary">Submit Instructions</button>

</form>