<div>
    <% review.album.forEach(function(album) { %> 
        <h2> <%= album.title %> </h2>
    <% }) %>
</div>

<div>
    Rating: <%= review.rating %>
</div>
<div>
    Content: <%= review.content %>
</div>
<div>
    CreatedAt: <%= moment(review.createdAt).fromNow() %>
</div>
<div>
   UpdatedAt: <%= moment(review.updatedAt).fromNow() %>
</div>

<% review.createdBy.forEach(function(createdBy){ %>
    <div> Written By: <%= createdBy.username %></div>
    <div> Email Address: <%= createdBy.emailAddress %></div>
    <div> Created At: <%= moment(createdBy.createdAt).fromNow() %></div>
    <hr>
<%  }) %>


<% if(currentUser._id.toString() == review.createdBy[0]._id.toString()){ %>
    <td> <a href="/review/edit?id=<%= review._id %>">Edit</a></td>
    <td> <a href="/review/delete?id=<%= review._id %>">Delete</a></td>
    <% } %>
