<h1> Edit Review </h1>

<form class="form-group" method="POST" action="/review/update?_method=PUT">

<!--  We need to show the album title here! -->
    <!-- <div>
        <label>Album:</label>
        <input name="title" type="text" value="<%= review.album %>" />
    </div> -->

    <div>
        <label>Rating:</label>
        <input class="form-control" name="rating" type="number" value="<%= review.rating %>"/>
    </div>

    <div>
        <label>Content:</label>
        <input class="form-control" name="isPublished" type="text" value="<%= review.content %>" />
    </div>

    <!-- <div>
        <label>Review Author</label>
        <input class="form-control" name="createdBy" type="text" value="<%= review.createdBy %>" />
    </div> If this div is unnecessary, delete -->
    <br>

    <input type="hidden" name="id" value="<%= review._id %>" />

    <button type="submit" class="btn btn-dark"> Update Review </button>

</form>