<h1> Reviews </h1>

<table class="table table-striped">
    <tr>
        <th> Album Title </th> <!--Eventually make album title / name / title consistent-->
        <th> Rating </th>
        <th> Content </th> <!--Content might not be the best heading-->
        <th> Review Author </th>
        <th> Created At </th>
        <th> Updated At </th>
    </tr>

<% reviews.forEach(function(review){ %>  
    <tr>
        <td>
            <% review.album.forEach(function(album) { %> 
                <div> <a href="/review/detail?id=<%= review._id %>"><%= album.title %></a> </div>
            <% }) %>
        </td>
        <td> <%= review.rating %></td>
        <td> <%= review.content %></td>
        <td>
            <% review.createdBy.forEach(function(createdBy) { %> 
                <div><%= createdBy.username %> </div>
            <% }) %>
        </td>
        <td> <%= moment(review.createdAt).fromNow() %></td>
        <td> <%= moment(review.updatedAt).fromNow() %></td>

    </tr>
<% }) %>


</table>