<h2 class="heading-review">Reviews</h2>
<div class="row">
  <% reviews.forEach(function(review){ %>
  <div class="container">
    <div class="img-div">
      <% review.album.forEach(function(element) { %>
      <img src="<%= element.albumCover%>" class="rounded-start review-img" alt="..." />
      <% }) %>
    </div>
    <div class="body-div">
      <% review.album.forEach(function(album) { %>
      <a href="/review/detail?id=<%= review._id %>">
        <h5 class="card-title">
          <%= album.title %>: &nbsp; &nbsp; <% }) %>
          <span class=""><%= review.rating %>/10</span>
        </h5></a
      >
      <p class="review-preview"><%= review.content %></p>
      <p><small class="text-muted update-time"><%= moment(review.createdAt).fromNow() %></small></p>
    </div>
  </div>
  <% }) %>
</div>
