<h1 class="large-heading text-center"> Reviews </h1>

<table class="table table-striped align-middle">
    <tr>
        <th> Album Title: </th> <!--Eventually make album title / name / title consistent-->
        <th></th>
        <th> Rating: </th>
        <th> Review Author: </th>
        <th></th>
        <th> Review added: </th>
    </tr>

<% reviews.forEach(function(review){ %>  
    <tr>
        <td>
            <% review.album.forEach(function(album) { %> 
                <div> <a href="/review/detail?id=<%= review._id %>"><h2 class="highlighted-text"><%= album.title %></h2></a> </div>
            <% }) %>
        </td>

    <% review.album.forEach(function(element) { %>
        <td>
            <a href="/review/detail?id=<%= review._id %>">
                <img class="album-icon"src="<%= element.albumCover%>" alt="<%= element.title %>: album cover.">
            </a>
        </td>
    <% }) %>
        <td> <h3 class="review-rating"><%= review.rating %></h3></td>
        <td>
            <% review.createdBy.forEach(function(createdBy) { %> 
                <div><h4><%= createdBy.username %></h4> </div>
            <% }) %>
        </td>
        <div class="review-box">
            <td class="review-preview"><%= review.content %></td>
        </div>
        <td> <%= moment(review.createdAt).fromNow() %></td>

    </tr>
<% }) %>


</table>