<div>

    <div id="confirm-delete" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirm Review Deletion</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Warning: Are you sure you want to delete this review? Once completed, this action cannot be undone!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Cancel</button>
              <a href="/review/delete?id=<%= review._id %>" role="button" class="btn btn-danger no-shadow">Yes, Delete</a>
            </div>
          </div>
        </div>
      </div>


    <% review.album.forEach(function(album) { %> 
        <h2 class="large-heading text-center"> 
          <a href="/album/detail?id=<%= album.id %>" title="Go to Album Page"><span><%=album.artist%>: </span>
            <%= album.title %></a>
        </h2>
    <% }) %>
</div>

<br><hr><br>

<div class="text-center">
<% review.album.forEach(function(element) { %>
    <td>
        <a href="/album/detail?id=<%= element._id %>">
            <img class="album-large album-icon"src="https://project2-albumreviewapp.s3.eu-west-2.amazonaws.com/<%= element.albumCover%>" 
            alt="<%= element.title %>: album cover.">
        </a>
    </td>
<% }) %>
</div>

<div class="text-center">
    <br>
    <p class="highlighted-text small-shadow larger-text">A review by <a href="/review/user_index?user=<%= review.createdBy[0]._id %>"><%= review.createdBy[0].username %></a></p>
    <p class="highlighted-text small-shadow larger-text">User rating:</p> <span class="review-rating"><%= review.rating %></span>
</div>
<% if(currentUser._id.toString() == review.createdBy[0]._id.toString()){ %>
    <hr>
    <div class="text-center">
    <a class="user-edit" href="/review/edit?id=<%= review._id %>" role="button">Edit Review</a>
    <a class="user-edit" role="button" data-bs-toggle="modal" data-bs-target="#confirm-delete" aria-label="Delete Album">Delete Review</a>
    </div>
<% } %>
<hr>

<section class="review-content">
    <%= review.content %>
</section>

<div>
</div><hr>

<% review.createdBy.forEach(function(createdBy){ %>
    <div> Written By: <%= createdBy.username %></div>
    <div> Email Address: <%= createdBy.emailAddress %></div>
    <div> Review added: <%= moment(createdBy.createdAt).fromNow() %></div>
<%  }) %>

<div>
    Last edited: <%= moment(review.updatedAt).fromNow() %>
</div>

<div class="highlighted-text">
</div>
