<h1 class="large-heading text-center"> Edit Review </h1>

<form class="auth-form med-text small-shadow" style="margin-top: 30px;" method="POST" action="/review/update?_method=PUT" >

<!--  We need to show the album title here! -->
    <!-- <div>
        <label>Album:</label>
        <input name="title" type="text" value="<%= review.album %>" />
    </div> -->

    <% review.album.forEach(function(album) { %>
        <h2 class="large-heading text-center"> <span><%=album.artist%>: </span><%= album.title %></h2>
    <% }) %>
    
    <div>
        <label>Rating:</label>
        <input class="form-control" name="rating" type="number" value="<%= review.rating %>"/>
    </div>

    <div>
        <label>Review:</label>
        <textarea class="form-control" name="isPublished" type="text" style="height: 70vh;"><%= review.content %></textarea>
    </div>

    <!-- <div>
        <label>Review Author</label>
        <input class="form-control" name="createdBy" type="text" value="<%= review.createdBy %>" />
    </div> If this div is unnecessary, delete -->
    <br>

    <input type="hidden" name="id" value="<%= review._id %>" />

    <button type="submit" class="btn btn-dark"> Update Review </button>

</form>