<h1 class="large-heading text-center"> Edit Review </h1>

<form class="auth-form med-text small-shadow" style="margin-top: 30px;" method="POST" action="/review/update?_method=PUT" >

    <% review.album.forEach(function(album) { %>
        <h2 class="large-heading text-center"> <span><%=album.artist%>: </span><%= album.title %></h2>
    <% }) %>
    
    <div>
        <label for="rating">Rating:</label>
        <input class="form-control" name="rating" type="number" min="0" max="10" step="1" value="<%= review.rating %>" aria-invalid="true"/>
    </div>

    <div>
        <label for="content">Review content:</label>
        <textarea class="form-control" name="content" type="text" style="height: 70vh;" aria-invalid="true"><%= review.content %></textarea>
    </div>

    <br>

    <input type="hidden" name="id" value="<%= review._id %>" aria-hidden="true"/>

    <button type="submit" class="btn btn-dark"> Update Review </button>

</form>