<h2 class="large-heading text-center text-center">Reviews</h2>
<div class="row">
  <% reviews.forEach(function(review){ %>
  <div class="container">
    <div class="img-div">
      <a href="/review/detail?id=<%= review._id %>">
        <% review.album.forEach(function(element) { %>
          <img src="<%= element.albumCover%>" class="rounded-start review-img" alt="..." />
        <% }) %>
      </a>
    </div>
    <div class="body-div">
      <% review.album.forEach(function(album) { %>
      <a href="/review/detail?id=<%= review._id %>">
        <h5 class="card-title small-shadow">
          <%= album.artist %>: <%= album.title %> &nbsp; &nbsp; <% }) %>
          <span class=""><%= review.rating %>/10</span>
        </h5></a
      >
      <p class="review-preview"><%= review.content %></p>
    <% review.createdBy.forEach(function(createdBy) { %> 
      <p><small class="mobile-small-text"><%= createdBy.username %></small></p>
    <% }) %>
      <p><small class="text-muted update-time"><%= moment(review.createdAt).fromNow() %></small></p>
    </div>
  </div>
  <% }) %>
</div>
