<h2 class="large-heading text-center text-center">Reviews</h2>
<div class="row review-index-body">
  <% reviews.reverse().forEach(function(review){ %>
  <section class="review-container">
    <div class="img-div">
      <a href="/review/detail?id=<%= review._id %>" title="Go to review">
        <% review.album.forEach(function(element) { %>
          <img src="https://project2-albumreviewapp.s3.eu-west-2.amazonaws.com/<%= element.albumCover%>" class="rounded-start review-img" alt="Artwork for <%= element.albumCover%>" />
        <% }) %>
      </a>
    </div>
    <div class="body-div">
      <% review.album.forEach(function(album) { %>
      <a href="/review/detail?id=<%= review._id %>">
        <h5 class="card-title small-shadow white-hover-shadow">
          <%= album.artist %>: <%= album.title %> &nbsp; <% }) %>
          <span class=""><%= review.rating %>/10</span>
        </h5></a
      >
      <p class="review-preview"><%= review.content %></p>
    <% review.createdBy.forEach(function(createdBy) { %> 
      <p><small class="mobile-small-text"><%= createdBy.username %></small></p>
    <% }) %>
      <p><small class="text-muted update-time"><%= moment(review.createdAt).fromNow() %></small></p>
    </div>
  </section>
  <% }) %>
</div>

<br>

<div id="filter-back-container" class="center-content"></div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>
<script src="/js/backButton.js"></script>
