<div>
  <div class="text-center">
    <div>
      <h3 class="large-heading"><%= album.title %></h3>
    </div>
    <div class="album-controls">
      <div class="album-controls-item">Added: <%= moment(album.createdAt).fromNow() %></div>
      <div class="album-controls-item"><a href="/album/edit?id=<%= album._id%>">Edit</a></div>
      <div class="album-controls-item"><a href="/album/delete?id=<%= album._id%>">Delete</a></div>
      <div class="album-controls-item"><a href="/album/index">Back</a></div>
    </div>
    <br />
    <img
      class="album-large"
      src="<%= album.albumCover%>"
      alt="<%= album.title %>: album cover."
    /><br /><br />
    <div class="larger-text small-shadow">Artist: <%= album.artist %></div>
    <div class="larger-text small-shadow">Year: <%= album.year %></div>
    <div class="larger-text small-shadow">
        <span>Average Rating:</span>
        <% let ratingsArray = [];
         album.review.forEach(function(review) {
        ratingsArray.push(parseInt(review.rating))
        })
        const average = ratingsArray.reduce((a, b) => a + b, 0) / ratingsArray.length;
        if (!average) { %>
      <br><span>not yet rated!</span>
        <% } else{ %>
       <span class="avg-rating"> <%=average%> </span>
       <% } %>
      </div>
    <hr />
    <div>
      <span class="med-text highlighted-text">Genres:&nbsp;&nbsp;</span>
      <% let counter = 0; album.genre.forEach(function(genre) { counter++ %>
      <a href="">
        <span class="med-text highlighted-text">
          <%= genre %> <% if (counter < album.genre.length) { %> <%= ', '
          %>&nbsp; <% } else {%> <%= '.' %> <% } %>
        </span>
      </a>
      <% }) %>
    </div>
  </div>
  <br />
  <div>
    <span class="med-text highlighted-text">Track List:</span>
    <ol>
      <% album.trackList.forEach(function(track) { %>
      <li><%= track %></li>
      <% }) %>
    </ol>
  </div>
  <hr />

  <!-- Linked review functionality -->
  <div>
    <h4 class="larger-text small-shadow">Linked reviews:</h4>
    <% album.review.forEach(function(review) { %>
    <!-- Make the below a link for each! -->
    <div style="margin-left: 20px">
      <a href="/review/detail?id=<%= review._id %>"
        >Review by <%= review.createdBy[0].username %>, rating: <%=
        review.rating %></a
      >
    </div>
    <!-- <div> Review rating: <%= review.rating %> </div>
    <div> Review content: <%= review.content %> </div> -->
    <% }) %>
  </div>

  
</div>
