<h1 class="large-heading text-center"> Edit Album </h1>

<form method="POST" action="/album/update" class="auth-form med-text small-shadow" style="margin-top: 30px;">

    <div class="form-group">
        <label for="title-input">Title</label>
        <input id="title-input" type="text" name="title" class="form-control" required value=" <%= album.title%>"/>
    </div>

    <div class="form-group">
        <label for="artist-input">Artist</label>
        <input id="artist-input" type="text" name="artist" class="form-control" required value=" <%= album.artist%>"/>
    </div>

    <div class="form-group">
        <label for="year-input">Year</label>
        <input id="year-input" type="number" name="year" class="form-control disable-spin" min="1900" max="2023" value="<%= album.year%>" required aria-invalid="true"/>
    </div>

    <div class="form-group">
        <div id="track-parent">
            <label id="trackList-input">Track List</label>
            <% album.trackList.forEach(function(track) { %>
            <input type="text" name="trackList" class="form-control" value="<%=track%>" aria-labelledby="trackList-input"/>
            <% }) %>
        </div>
        <button type="button" id="add-field" class="btn btn-light add-btn" aria-label="add new track input field to form">+</button>
    </div class="form-group">


    <div class="form-group">
        <label for="image-input">Album Cover: </label>
        <input 
            id="image-input"
            type="file" 
            name="image" 
            accept="image/png, image/gif, image/jpeg, image/jpg" 
            required="true"
            aria-invalid="true"
            class="form-control"
        >
    </div>

    <div class="form-group">
        <div id="genre-parent">
        <label id="genre-label">Genre</label>
    <% album.genre.forEach(function(genre) { %>
        <input type="text" name="genre" class="form-control" value="<%=genre%>" aria-labelledby="genre-label" />
    <% }) %>
        </div>
        <button type="button" id="add-genre" class="btn btn-light add-btn" aria-label="add new genre input field to form">+</button>
    </div>


    <input type="hidden" name="id" value="<%= album._id%>"/>

    <br>

    <button type="submit" class="btn btn-dark">Submit Changes</button>

    <a class="float-right button-padding smaller-text" href="/album/detail?id=<%=album._id%>" >Go Back to Album</a>

</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/album.js"></script>