<h1 class="large-heading text-center"> Edit Album </h1>

<form method="POST" action="/album/update" class="auth-form med-text small-shadow" style="margin-top: 30px;">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" value=" <%= album.title%>"/>
    </div>

    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" name="artist" class="form-control" value=" <%= album.artist%>"/>
    </div>

    <div class="form-group">
        <label for="year">Year</label>
        <input type="number" name="year" class="form-control" min="1900" max="2023" value="<%= album.year%>" aria-invalid="true"/>
    </div>

    <div class="form-group">
        <div id="track-parent">
            <label for="trackList">Track List</label>
            <% album.trackList.forEach(function(track) { %>
            <input type="text" name="trackList" class="form-control" value="<%=track%>"/>
            <% }) %>
        </div>
        <button type="button" id="add-field" class="btn btn-light add-btn" aria-label="add new track input field to form">+</button>
    </div class="form-group">


    <div class="form-group">
        <label for="image">Album Cover: </label>
        <input 
            type="file" 
            name="image" 
            accept="image/png, image/gif, image/jpeg, image/jpg" 
            required="true"
            aria-invalid="true"
            class="form-control"
        >
    </div>

    <div class="form-group">
        <div id="genre-parent">
        <label for="genre">Genre</label>
    <% album.genre.forEach(function(genre) { %>
        <input type="text" name="genre" class="form-control" value="<%=genre%>"/>
    <% }) %>
        </div>
        <button type="button" id="add-genre" class="btn btn-light add-btn" aria-label="add new genre input field to form">+</button>
    </div>


    <input type="hidden" name="id" value="<%= album._id%>"/>

    <button type="submit" class="btn btn-dark">Submit Album</button>

</form>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/album.js"></script>