<h2 class="large-heading text-center">Albums</h2>
<br>

<table class="table align-middle table-responsive-sm tablemobile">

  <thead>
    <tr class="larger-text small-shadow mobile-hide">
      <th scope="col">Album Cover</th>
      <th scope="col" class="title-table">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Year</th>
      <th scope="col">Genres</th>
    </tr>
  </thead>

  <tbody>
    <% albums.reverse().forEach(function(album) { %>
      <tr>
        <td>
          <a href="/album/detail?id=<%=album._id%>" title="Album page">
            <img class="album-icon"
              src="https://project2-albumreviewapp.s3.eu-west-2.amazonaws.com/<%= album.albumCover%>"
              alt="<%= album.title %>: album cover.">
          </a>
        </td>
        <td class="hidden two-line title-table mobile-show"> 
          <a class="peach highlighted-text mobile-album-index" href="/album/detail?id=<%=album._id%>" title="Album page">
            <h3 class="mobile-med-text small-shadow" >
              <%= album.title %>
            </h3>
            <h3 class="mobile-small-text text-center">
              <%= album.artist %>
            </h3>
          </a>
        </td>
        <td class="two-line title-table mobile-hide"> 
          <a class="peach highlighted-text" href="/album/detail?id=<%=album._id%>" title="Album page">
            <h3 class="mobile-med-text">
              <%= album.title %>
            </h3>
          </a>
        </td>
        <td class="med-text mobile-med-text mobile-hide">
          <a href="/album/artist_index?artist=<%= album.artist %>" title="Albums by <%= album.artist %>">
            <%= album.artist %>
          </a>
        </td>
        <td class="mobile-hide">
          <%= album.year %>
        </td>
        <td class="mobile-hide">
          <ul>
            <% album.genre.forEach(function(genre) { %>
              <li>
                <a href="/album/genre_index?genre=<%= genre %>" title="<%= genre %> albums">
                  <%= genre %>
                </a>
              </li>
              <% }) %>
          </ul>
        </td>
      </tr>
      <% }) %>
  </tbody>

</table>