<h2 class="large-heading text-center">Albums</h2>
<br>

<table class="table align-middle table-responsive-sm tablemobile">
  <tr class="larger-text small-shadow mobile-hide">
    <th>Album Cover</th>
    <th class="title-table">Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>Genres</th>
  </tr>
  <% albums.reverse().forEach(function(album) { %>
    <tr>
      <td><a href="/album/detail?id=<%=album._id%>"><img class="album-icon" src="https://project2-albumreviewapp.s3.eu-west-2.amazonaws.com/<%= album.albumCover%>" alt="<%= album.title %>: album cover."></a></td>
      <td class="two-line title-table"> <a class="peach highlighted-text" href="/album/detail?id=<%=album._id%>">
          <h3 class="mobile-med-text">
            <%= album.title %>
          </h3>
        </a></td>
      <td class="med-text mobile-med-text">
        <a href="/album/artist_index?artist=<%= album.artist %>"><%= album.artist %></a>
      </td>
      <td class="mobile-hide">
        <%= album.year %>
      </td>
      <td class="mobile-hide">
        <ul>
          <% album.genre.forEach(function(genre) { %>
            <li>
              <a href="/album/genre_index?genre=<%= genre %>"><%= genre %></a>
            </li>
            <% }) %>
        </ul>
      </td>
    </tr>
    <% }) %>
</table>