<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Album Review App</title>
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- main.css -->
  <link rel="stylesheet" href="../css/main.css" />
</head>

<body>

  <div id="inner-body">


    <!-- navbar - collapses with Bootstrap on smaller displays -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark text-center w-text">
      <div class="container-fluid d-flex justify-content-evenly" id="navbar-inner">
        
        <div id="main-logo-container">
          <a class="navbar-brand primary" id="main-logo" href="/">ALBUM REVIEW APP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-link-container"
            aria-controls="navbar-link-container" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse text-center flex-row-reverse" id="navbar-link-container">
        <% if(currentUser){ %>
          <a class="nav-link active" href="/auth/logout">Log Out</a>
          <a class="nav-link active" href="/review/user_index?user=<%= currentUser.id %>">Hi, <%= currentUser.username %></a>
        <% } else{ %>
          <a class="nav-link active" href="/auth/signup">Sign Up</a>
          <a class="nav-link active" href="/auth/landing">Sign In</a>
        <% } %>
          <a class="nav-link active" href="/album/add">Add Album</a>
          <a class="nav-link active" href="/album/index">Albums</a>
          <a class="nav-link active" href="/review/index">Reviews</a>
        </div>

      </div>
    </nav>


    <!-- alerts: will render when alert message sent from controllers, fades and then de-renders using Bootstrap -->
    <% if(alerts.success) { %>
      <% alerts.success.forEach(function(msg){ %>
        <div class="alert alert-success" role="alert" aria-label="success alert">
          <%= msg %>
        </div>
      <% }) %>
    <% } %>
    <% if(alerts.info) { %>
      <% alerts.info.forEach(function(msg){ %>
        <div class="alert alert-info" role="alert" aria-label="information alert">
          <%= msg %>
        </div>
      <% }) %>
    <% } %>
    <% if(alerts.error) { %>
      <% alerts.error.forEach(function(msg){ %>
        <div class="alert alert-danger" role="alert" aria-label="warning alert">
          <%= msg %>
        </div>
      <% }) %>
    <% } %>


    <!-- main content -->
    <main class="flex-column" id="body-container">
      <div id="body-inner">
        <%- body %>
      </div>
    </main>


    <!-- footer -->
    <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark text-center footer mobile-footer">
      <div class="container-fluid d-flex justify-content-evenly small-text">
        <footer>
          <div class="collapse navbar-collapse text-center">
            <a class="nav-link active mobile-footer-link" href="/review/index">Home</a>
            <a class="nav-link active mobile-footer-link" aria-current="page" href="/about">About</a>
            <a class="nav-link active mobile-footer-link" aria-current="page"
              href="https://github.com/hphilpotts/Album-Review-App-Project-2-General-Assembly-SEI-66">
              GitHub&nbsp; &nbsp;<i class="bi bi-box-arrow-up-right" aria-label="external site"
                style="font-size: smaller"></i>
            </a>
          </div>
          <br>
        </footer>
      </div>
    </nav>
  
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"></script>
  <!-- public -->
  <script src="../js/flash.js"></script>

</body>

</html>