<h1> Edit Album </h1>

<form method="POST" action="/album/update">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" value=" <%= album.title%>"/>
    </div>

    <div class="form-group">
        <label>Artist</label>
        <input type="text" name="artist" class="form-control" value=" <%= album.artist%>"/>
    </div>

    <div class="form-group">
        <label>Year</label>
        <input type="number" name="year" class="form-control" min="1900" max="2023" value="<%= album.year%>"/>
    </div>

    <div class="form-group">
        <label>Track List</label>
        <textarea name="content" class="form-control"><%= album.trackList%></textarea>
    </div class="form-group">


    <div class="form-group">
        <label>Album Cover img URL</label>
        <input type="text" name="albumCover" class="form-control" min="1900" max="2023" value="<%= album.year%>"/>
    </div>

    <div class="form-group">
        <label>Genre</label>
        <!-- up to four genres below, not pre-populated with values yet: -->
        <input type="text" name="genre" class="form-control"/>
        <input type="text" name="genre" class="form-control"/>
        <input type="text" name="genre" class="form-control"/>
        <input type="text" name="genre" class="form-control"/>
    </div>


    <input type="hidden" name="id" value="<%= album._id%>"/>

    <button type="submit" class="btn btn-primary">Submit Album</button>

</form>