<h1 class="large-heading text-center"> Edit Album </h1>

<form method="POST" action="/album/update" class="auth-form med-text small-shadow" style="margin-top: 30px;">

    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" class="form-control" value=" <%= album.title%>"/>
    </div>

    <div class="form-group">
        <label>Artist</label>
        <input type="text" name="artist" class="form-control" value=" <%= album.artist%>"/>
    </div>

    <div class="form-group">
        <label>Year</label>
        <input type="number" name="year" class="form-control" min="1900" max="2023" value="<%= album.year%>"/>
    </div>

    <div class="form-group">
        <div id="track-parent">
            <label>Track List</label>
            <% album.trackList.forEach(function(track) { %>
            <input type="text" name="trackList" class="form-control" value="<%=track%>"/>
            <% }) %>
        </div>
        <button type="button" id="add-field" class="btn btn-light add-btn">+</button>
    </div class="form-group">


    <div class="form-group">
        <label>Album Cover: </label>
        <input type="file" name="image" class="form-control">
    </div>

    <div class="form-group">
        <div id="genre-parent">
        <label>Genre</label>
    <% album.genre.forEach(function(genre) { %>
        <input type="text" name="genre" class="form-control" value="<%=genre%>"/>
    <% }) %>
        </div>
        <button type="button" id="add-genre" class="btn btn-light add-btn">+</button>
    </div>


    <input type="hidden" name="id" value="<%= album._id%>"/>

    <button type="submit" class="btn btn-dark">Submit Album</button>

</form>