<h2>Albums</h2>
<br>

<!-- Using a table for now to check data works ok
-- will certainly be changing format further down the line! -->
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Track List</th>
        <th>Album Cover</th>
        <th>Genres</th>
        <!-- <th>Reviews</th> -->
        <th>Edit</th>
        <th>Delete</th>
    </tr>
<% albums.forEach(function(album) { %> 
    <tr>
        <td> <a class="peach" href="/album/detail?id=<%=album._id%>" > <h3><%= album.title %></h3></a></td>
        <td> <%= album.artist %></td>
        <td> <%= album.year %></td>
        <td> <%= album.trackList %></td>
        <td> <%= album.albumCover %></td>
        <td> <%= album.genre%></td>
        <!-- <td> <%= album.review %></td> -->
        <td> <a href="/album/edit?id=<%= album._id%>">Edit</a></td>
        <td> <a href="/album/delete?id=<%= album._id%>">Delete</a></td>
    </tr>
<% }) %>

</table>